**/js_test_files/**/*
gulp-tasks/**/*
gulpfile.js
gulp-config.js
pattern-lab/**/*
docroot/libraries/**/*
**/sassdoc/**/*
docroot/core/**/*
**/sites/**/files/**/*
**/node_modules/**/*
vendor/**/*
**/contrib/**/*
**/themes/**/dist/**/*
**/annotations.js
acquia-utils/**/*
library/**/*
hooks/**/*
simplesamlphp/**/*
components/**/*
**/pattern-lab/**/*
docroot/themes/custom/emulsify/components/js/init.js
docroot/themes/custom/emulsify/components/js/google-plus-social.js
docroot/themes/custom/emulsify/components/js/facebook-tracking.js
docroot/themes/custom/emulsify/components/js/twitter-tracking.js
docroot/themes/custom/emulsify/components/js/async-drift-code.js
leaflet.js
fitvids.js
modernizr.js
jquery*.js
node_modules
